/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html { touch-action:auto;

}

body {
    background-color: #FFBC57;
    overflow: hidden;

}

/* Portrait layout (default) */
.app {
    position: relative;
    text-align: center;


}

.Splash {

color: white;
position: relative;
font-size: 4.5em;
font-family: 'Vollkorn', serif;
padding-top: 1em;


}

.logo {

  position:relative;
  height: 12em;
  width: auto;
  right:0.5em;
  -webkit-animation: rotation 3s infinite linear;
  margin-top: 0em;
}

.RandS {

  color: white;
  font-size: 2.5em;
  text-align: center;
  font-family: 'Vollkorn', serif;


}
#word{

  font-size: 2em;
  font-family: "Comic Sans MS", sans-serif;
  color: black;
}
.RandSAnswer{

  font-size: 1.7em;
  padding: 1em;

}

textarea {
    resize: none;
    font-size: 1em;
    width: 8em;
    text-align: center;
    font-family: 'Vollkorn', serif;

}

.Cts-button{

  display: block;
  margin: auto;
  width: 9em;
  margin-top: 0.5em;
  margin-bottom: 2em;
  color: white;
  background-color: #FFBC57;
  border: solid;
  border-color: white;
  padding: 0.8em;
  font-family: 'Vollkorn', serif;
  font-size: 1em;
  font-weight: bold;
  align-items: center;

}

#clear {

margin-top: 1.5em;
font-size: 0.75em;
margin-bottom: 1.5em;
color: white;
background-color: #FFBC57;
border: solid;
border-color: white;
padding: 1em;
font-family: 'Vollkorn', serif; }

#answercorrect{

    font-family: 'Vollkorn', serif;
    color: #FFBC57;
    margin-bottom: 0em;
    font-size: 1.1em;
}
#menu{


  font-size: 0.75em;
  margin-bottom: 1em;
  color: white;
  background-color: #FFBC57;
  border: solid;
  border-color: white;
  padding: 1em;
  font-family: 'Vollkorn', serif;


}



@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
